/** MENU **/
.menu1 {
	width: 100%
}
.menu1, .menu1 li ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
.menu1 > li{
    float:left;
    text-align: center;
	 cursor: pointer;
}
.menu1 > li a {
	color: #494c74;
	display: block;
	text-decoration: none;
	/*text-transform: uppercase;*/
	text-align: left;
	font: normal bold 11px/14px Arial, Helvetica, sans-serif !important;
	margin-top: 0px;

			
	padding-left: 10px;
	padding-right: 10px;
			
	background: transparent;
}
.menu1 > li a:hover {
	color: #7c7c7c;
}
.menu1 > li.active > a {

}
.menu1 > li ul{
	display:none;
	position:absolute;
	text-align: left;
	z-index:100;
	background-color: #d6e5f4;
	width:220px;    
	margin-top: 0px;
}
.menu1 > li > ul{
	margin-left:-10px;
	border: 1px solid #cccccc;
	border-bottom: 0px solid #cccccc;
}
.menu1 > li:hover > ul{display:block;}
.menu1 > li li{
	padding: 0px 2px 0px 2px;
	border-bottom: 1px solid #cccccc;
}
.menu1 > li li a {
	text-transform: none !important;
	background: transparent;
	font: normal bold 11px/24px Arial, Helvetica, sans-serif !important;
}
.menu1 > li li a:hover{
	color: #ffffff;
	background-color: #9ab2fe;
}
.menu1 > li > ul > li:hover > ul{display:block;}
.menu1 > li > ul  li:hover{

}
.menu1 > li.active > a, #header .menu1 > li a:hover, #header .menu1 > li:hover > ul{
}

