*{
	 font-size: 11px;
}
html, body {
	margin: 5px;
	padding: 0;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}

.panel_title{
	display: none;
	padding: 0;
}
.panel_btn{
	display: none;
	padding: 0;
}
#up_mn{
	display: none;
	padding: 0;
}
