.dsection * {margin: 0; padding: 0;}
.dsection p {padding: 7px 0;}
.section {
	padding: 0;
	background: transparent;
	margin: 0 0 30px;
}
ul.tabs {
	margin: 0; padding: 0;
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #dddddd;
	background: transparent;
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #4b4b4b;
	cursor: pointer;
	background: transparent;
	border: 1px solid #adadad;
	border-bottom: 1px solid transparent;
	position: relative;
}
.tabs li:hover {
	color: #2177f3;
	padding: 0 13px;
	background: #f2f2f2;
	border: 1px solid #656565;
}
.tabs li.current {
	color: #000;
	background: transparent;
	padding: 0 13px 2px;
	border: 1px solid #414141;
	border-bottom: 1px solid transparent;
	font-weight: bold;
}
.box {
	margin: 0;
	display: none;
	border-left: 1px solid #414141;
	border-right: 1px solid #414141 !important;
	border-bottom: 1px solid #414141 !important;
   border-width: 0 1px 1px;
	background: transparent;
	padding: 8px 12px;
}
.box.visible {
	display: block;
}
